{% extends 'base.html.twig' %}

{% block title %}La Llavor{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>La Llavor</h1>
                <h2>Centre de ioga Gestalt</h2>
                <address>
                    C. Jardí, 5<br>
                    43870 Amposta<br>
                    (Tarragona)<br>
                </address>
                <h5><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 699 873 058</h5>
                <p><a href="mailto:info@lallavor.yoga">info@lallavor.yoga</a></p>
            </div>
        </div>
    </div>
{% endblock %}
